

<div class="col-md-8 mt-5" *ngIf="leaves && leaves.length" style="margin-top: 1%; margin-left: 17%;">
  <table class="table table-light table-hover"  >
  <thead>
    <tr style="font-family:initial; font-size: 17px;">
      <th scope="col">User</th>
      <th scope="col">Leave Type</th>
      <th scope="col">FromDate</th>
      <th scope="col">ToDate</th>
      <th scope="col">Total Days</th>
      <th scope="col">Request of Date</th>
      <th scope="col">Status</th>
      <th scope="col">Cancel</th>

    </tr>
  </thead>
  <tbody *ngFor="let leave of leaves">
    <tr style="font-family:inherit; font-size: 15px;">
      <td>{{leave.user.firstName}}</td>
      <td>{{leave.leaveType.type}}</td>
      <td>{{leave.startDate | date: 'MMMM d, y'}}</td>
      <td>{{leave.endDate | date: 'MMMM d, y'}}</td>
      <td>{{ calculateTotalDays(leave.startDate, leave.endDate) }}</td>
      <td>{{leave.dateOfRequest | date:'MMMM d, y'}}</td>
      <td>{{leave.status}}</td>

      <td><button class="btn btn-danger">Cancel</button></td>
    </tr>
  </tbody>
</table>


</div>
